@model PlayServer.Models.ResultData

<div id="drawing">
    @foreach (var item in Model.Data)
    {
        var ct = (@item.userType == 0) ? "Black" : "White";
        <div>
            <h4 class="m" hidden="hidden">@ct : (@item.x, @item.y)</h4>
        </div>
    }

    <h4 id="winner" hidden="hidden">Winner is: @Model.winner</h4>

    <div id="datavalue" hidden="hidden">@Html.Raw(Json.Encode(@Model.Data))</div>
</div>
